.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .navlink {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navlink:hover {
    color: #00bcd4;
  }
  